<section class="wrapper flex">
	<div class="sidebar">
		<h3>ジャンル一覧</h3>
		<% @genres.each do |genre| %>
			<%= link_to genre.name, items_path(genre_id: genre.id) %>
		<% end %>
	</div>
	<div class="content">
		<div class="mv">
			<p>
				ようこそ、NaganoCakeへ!<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
			</p>
		</div>
		<h2 class="section-ttl">オススメ商品</h2>
		<div class="items">
			<% @items.each do |item| %>
				<%= link_to item_path(item) do %>
					<%= image_tag item.get_image %>
					<h5><%= item.genre.name %></h5>
					<p><%= item.name %></p>
					<p><%= item.with_tax_price %>円</p>
				<% end %>
			<% end %>
		</div>
	</div>
</section>