<section class="inner">
	<h2 class="section-ttl"><%= @customer.first_name %> <%= @customer.last_name %> さんの会員情報編集</h2>
	<%= form_with model:@customer, url: admin_customer_path(@customer) do |f| %>
		<%= render 'layouts/error_messages', resource: @customer %>
		<table class="customer_info customer_form">
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td>名前</td>
					<td><%= f.label :first_name, "(姓)", class: "customer_name" %> <%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}" %></td>
					<td><%= f.label :last_name, "(名)", class: "customer_name" %> <%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}" %></td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td><%= f.label :first_name_kana, "(セイ)" %> <%= f.text_field :first_name_kana, :placeholder =>"#{@customer.first_name_kana}" %></td>
					<td><%= f.label :last_name_kana, "(メイ)" %> <%= f.text_field :last_name_kana, :placeholder =>"#{@customer.last_name_kana}" %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td colspan="2"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}" %></td>
				</tr>
				<tr>
					<td>郵便番号(7桁)</td>
					<td colspan="2"><%= f.text_field :postal_code, :placeholder =>"#{@customer.postal_code}" %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td colspan="2" class="field_for_address"><%= f.text_field :address, :placeholder =>"#{@customer.address}" %></td>
				</tr>
				<tr>
					<td>電話番号(ハイフンなし10or11桁)</td>
					<td colspan="2"><%= f.text_field :telephone_number, :placeholder =>"#{@customer.telephone_number}" %></td>
				</tr>
				<tr>
					<td>会員ステータス</td>
					<td><%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-active" %></td>
					<td><%= f.radio_button :is_active, false %><%= f.label :is_active, "退会済み", class: "text-invalid" %></td>
				</tr>
				<tr>
					<td colspan="3"><%= f.submit "更新", class: "btn btn-primary" %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</section>