<section class="wrapper flex">
	<div class="sidebar">
		<h3>ジャンル一覧</h3>
		<% @genres.each do |genre| %>
		<%= link_to genre.name, items_path(genre_id: genre.id) %>
		<% end %>
	</div>
	<div class="content">
		<h2 class="section-ttl"><%= @item.name %></h2>
		<%= render 'layouts/error_messages', resource: @cart_item %>
		<div class="flex">
			<%= image_tag @item.get_image, class: "item_image" %>
			<div class="item_info">
				<h4><%= @item.introduction %></h4>
				<p>ジャンル: <%= link_to @item.genre.name, items_path(genre_id: @item.genre_id) %></p>
				<p>
					¥<%= @item.with_tax_price %>(税込)
					<% if @item.is_active? %>
					<span class="text-active">販売中</span>
					<% else %>
					<span class="text-invalid">販売停止中</span>
					<% end %>
				</p><br>
				<% if customer_signed_in? %>
					<% cart_item = current_customer.has_in_cart(@item) %>
					<% if cart_item %>
						<%= form_with model: [@item, cart_item] do |f| %>
							<p>こちらの商品は、既にカートに入っています。</p>
							<%= f.select :amount, [*(1..10)] %>
							<%= f.submit "数量変更", class: "btn btn-primary" %>
						<% end %>
					<% elsif @item.is_active? %>
						<%= form_with model: [@item, @cart_item] do |f| %>
							<p>数量を選択して下さい。</p>
							<%= f.select :amount, [*(1..10)], {selected: 1} %>
							<%= f.submit "カートに入れる", class: "btn btn-primary" %>
						<% end %>
					<% else %>
						<p class="bold">こちらの商品は、現在販売停止中です。</p>
					<% end %>
				<% else %>
					<p>カート機能をご利用いただくには、<br><%= link_to "こちら", new_customer_registration_path, class: "underline" %>から新規登録を行なってください。</p>
				<% end %>
			</div>
		</div>
	</div>
</section>